certifi==2026.6.17
charset-normalizer==3.4.7
click==8.4.2
deptry==0.25.1
et_xmlfile==2.0.0
idna==3.18
numpy==2.4.3
openpyxl==3.1.5
packaging==26.2
pandas==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
requirements-parser==0.13.1
six==1.17.0
tomli==2.4.1
urllib3==2.7.0
